
body{

    font-family: 'Poppins', sans-serif;
}

h1 {
    
    font-size: 50px;
    COlor: rgb(34, 92, 179);
    padding-left: -2%;
    
}

h2{

    padding-left: -2%;
}



Span{

    COlor: rgb(34, 92, 179);
    font-size: 40px;
    padding-left: 15px;
}

#section1-div-left{

    width:40%;
    padding-left: 5%;
    padding-right: 6%;
}
#section1-div-Right{

    width:60%;
    padding-left: 60px;
    float: right;
    margin-top: 35px;
    margin-right: 0;
    margin-left: 20px;
}

.image{

    max-width: 70%;
}

Section {

    display: flex;
}


